<div
  fxLayout="column"
  style="
    width: 500px;
    height: 500px;
    background-color: white;
    align-items: center;
    font-size: 1.25rem;
    padding: 3rem;
  "
  class="mat-typography"
>
  <p style="font-weight: bold">ALMEGATEX</p>
  <div style="height: 2px; width: 100%; background-color: black"></div>
  <p style="padding: 1rem 0">Nomor Antrian Anda:</p>
  <h1 style="font-size: 5rem; padding: 2rem 0">{{ queueNumber }}</h1>
  <p>Mohon Menunggu</p>
  <p>{{ createdAt }}</p>
  <div style="height: 2px; width: 100%; background-color: black"></div>
  <p style="font-weight: 500; margin-top: 1rem">
    Budayakan antri untuk kenyamanan bersama
  </p>
  <p style="font-weight: 500">Terima kasih atas kunjungan Anda</p>
</div>
